.quizGenWrapper {
  padding-top: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quizTitleInput {
  width: 50vw;
  height: 2em;
  text-align: center;
  font-size: 1.5em;
  overflow-wrap: break-word;

}

.questionInput {
    margin: 2%;
    width: 40vw;
}

.quizTitleTimer {
  margin: 2%;
  text-align: center;
  width: 5em;
}

.quizGenHeader {
  color: grey;
  text-align: center;
  padding-bottom: 2%;
  font-size: 3em;
}

.quizGenInputs {
  margin: 2%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 38px -21px rgba(0, 0, 0, 0.60);
  width: 50vw;
  height: 50vh;
}

.addAnswerButton {
  background-color: rgb(255, 255, 153);
  padding: 1%;
  margin: 1%;
  border: 0.1em solid #FFFFFF;
  border-radius: 2em;
  text-decoration: none;
  color: grey;
  font-weight: 300;
  text-align: center;
  transition: all 0.2s;
  cursor: pointer;
  width: 10em;
  height: 3em;
}

.addAnswerButton:hover {
  background-color: grey;
  color: #FFFFFF;
}

.addQuestionButton {
  background-color: rgb(255, 255, 153);
  padding: 1%;
  margin: 1%;
  border: 0.1em solid #FFFFFF;
  border-radius: 2em;
  text-decoration: none;
  color: grey;
  font-weight: 300;
  text-align: center;
  transition: all 0.2s;
  cursor: pointer;
  width: 10em;
  height: 3em;
}

.addQuestionButton:hover {
  background-color: grey;
  color: #FFFFFF;
}

.deleteQuestion {
  background-color: rgb(255, 255, 153);
  padding: 1%;
  margin: 1%;
  font-weight: bolder;
  border: 0.1em solid #FFFFFF;
  border-radius: 10em;
  text-decoration: none;
  color: grey;
  font-weight: 300;
  text-align: center;
  transition: all 0.2s;
  cursor: pointer;
  width: 10em;
  height: 3em;
}

.deleteQuestion:hover {
  background-color: grey;
  color: #FFFFFF;
}

.quizButtons {
  display: flex;
  flex-direction: row;
  padding: 3%;
}

.quizAnswerInputs {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr; 
  grid-column-gap: 10%;
  grid-row-gap: 5%; 

  margin: 2%;
}

.isAnswerCorrect {
  padding: 2%;
}

.answerInputsStyles {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  align-content: center;
}

.questionAndDeleteButtonInput {
  display: flex;
  flex-direction: row;
  align-items: center;
}
