.quizName {
  padding-top: 1.1em;
  text-align: center;
  color: green;
}

.currentQuestion {
  text-align: center;
  color: blue;
}

.answerWrapper {
  height: 70vh;
  flex-wrap: wrap;
  flex-direction: column;
  width: 60%;
}

.answer {
  padding: 2% 2%;
  height: 30%;
  font-size: 2em;
  width: 60rem;
}

.questionCard {
  background-color: white;
  box-shadow: 0px 0px 38px -21px rgba(0, 0, 0, 0.6);
}

.possibleAnswer {
  display: block;
  margin: 3% 3%;
  padding: 2% 2%;
  color: black;
  border: 2px solid black;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  height: 7em;
  font-size: 1.3em;
}

.button {
  padding: 20px 20px;
  margin: 20px 20px;
  border-radius: 3em 3em;
  border: 3px solid black;
}

.button:hover {
  transform: scale(1.1);
}

.boxButton {
  display: flex;
  width: 50%;
  height: 50%;
}

.buttonQuestion {
  background-color: rgb(255, 255, 153);
  padding: 0.5%;
  margin: 0.5%;
  border: 0.1em solid #FFFFFF;
  font-size: 1em;
  border-radius: 1em;
  text-decoration: none;
  color: grey;
  font-weight: 300;
  font-size: 1.1em;
  text-align: center;
  transition: all 0.2s;
  cursor: pointer;
  width: 10em;
  height: 5em;
}

.buttonQuestionNumber:disabled {
  background-color: gray;
}

.buttonClicked {
  padding: 20px 20px;
  margin: 20px 20px;
  background-color: green;
}

.quizTimer {
  float: right;
  margin: 1em 2em;
  font-size: 2em;
}

.score {
  background: white;
  font-size: 5rem;
  text-align: center;
  padding: 3% 3%
}

.arrowImage {
  height: 100px;
  width: 100px;
}

.arrowImageBox:active {
  background-color: yellow;
}

.buttonWrapper {
  display: flex;
  justify-content: space-around;
}

.startQuizButton{
  font-size: 2em !important;
  background-color: yellow;
  color: black;
  border: 3px solid white;
  padding: 2% 2%;
  height: 30%;
  width: 50vw;
}

.navigationButton {
  background-color: rgb(255, 255, 153);
  padding: 1%;
  margin: 1%;
  border: 0.1em solid #FFFFFF;
  border-radius: 2em;
  text-decoration: none;
  color: grey;
  font-weight: 300;
  text-align: center;
  transition: all 0.2s;
  cursor: pointer;
  width: 10em;
  height: 3em;
}

.navigationButton:hover {
  background-color: grey;
  color: #FFFFFF;
}

@media (max-width: 480px) {
  .score {
    margin: 2em 2em;
    background: white;
    font-size: 3rem;
    text-align: center;
    padding: 3% 3%;
    width: 300px;
  }
  .buttonQuestion {
    width: 8em;
    font-size: 1.5em;
    height: 5em;
  }

}