.quizName {
  text-align: center;
  color: green;
}

.currentQuestion {
  text-align: center;
  color: blue;
}

.answerWrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 20px;
  color: red;
}

.answerWrapper {
  display: flex;
  color: red;
}

.possibleAnswer {
  display: block;
  margin: 30px 30px;
  padding: 20px 20px;
  color: black;
  border: 2px solid black;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  flex-basis: 400px;
}

.button {
  padding: 20px 20px;
  margin: 20px 20px;
}

.quizTimer {
  float: right;
  margin-right: 100px;
  font-size: 2em;
}

.quizTitles {
  padding-top: 150px;
  position: relative;
  background: #90e2c7
}

.arrowImage {
  height: 100px;
  width: 100px;
}

.buttonWrapper {
  display: flex;
  justify-content: space-around;
}
